@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --facebook-bg: #3b5998;
  --x-bg: var(--primary-gray);
  --linkedin-bg: #2d68ff;
  --instagram-bg: var(--tertiary-gray);
  --frontendmentor-bg: #2d2d2d;
  --codewars-bg: #8a1a50;
  --codepen-bg: #5760db;
  --freecodecamp-bg: #302267;
  --twitch-bg: #9146ff;
  --youtube-bg: #ee3939;
  --github-bg: #2b3137;
  --website-bg: var(--primary-green);
}

.facebook-bg {
  background-color: var(--facebook-bg);
}
.x-bg {
  background-color: var(--x-bg);
}
.linkedin-bg {
  background-color: var(--linkedin-bg);
}
.instagram-bg {
  background-color: var(--instagram-bg);
}
.frontendmentor-bg {
  background-color: var(--frontendmentor-bg);
}
.codewars-bg {
  background-color: var(--codewars-bg);
}
.codepen-bg {
  background-color: var(--codepen-bg);
}
.freecodecamp-bg {
  background-color: var(--freecodecamp-bg);
}
.twitch-bg {
  background-color: var(--twitch-bg);
}
.youtube-bg {
  background-color: var(--youtube-bg);
}
.github-bg {
  background-color: var(--github-bg);
}
.website-bg {
  background-color: var(--website-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'InstrumentSans';
  src: local('InstrumentSans'),
    url('/fonts/InstrumentSans-Regular') format('ttf'),
    url('/fonts/InstrumentSans-Bold') format('ttf'),
    url('/fonts/InstrumentSans-SemiBold') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-dropdown {
  position: relative;
}

.selected-item {
  cursor: pointer;
}

.dropdown-items {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.custom-dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: #eee;
}

/* Form Elements */
.input-with-icon {
  background-image: url('/images/icon-link.svg');
  background-repeat: no-repeat;
  background-position: calc(0.75rem) center;
}

/* Error states */
.form-validation-error {
  margin: 0;
  color: red;
  font-size: 0.8rem;
}

.error-container {
  border-color: red;
  border-width: 0.16rem;
}
